@tailwind base;
@tailwind utilities;
@tailwind components;

*{
    box-sizing: border-box;
}

.home{
    background: linear-gradient(180deg, #141313 76.56%, #3C3737 86.99%);
}

body::-webkit-scrollbar{
width: 9px !important;
}

body::-webkit-scrollbar-thumb{
    background-color: #141313;
}


.login{
    background: linear-gradient(45deg,rgba(0, 0, 0, 0.481) ,transparent) ,  url(./images/lib.jpeg);
}

.black{
    background: #141313cc;
}

.white{
    background: #fffffffa;
}
.signup{
    background: linear-gradient(45deg,rgba(0, 0, 0, 0.481) ,transparent) ,  url(./images/lib.jpeg);
}

@media screen and (min-width:280px) {
    
}