@tailwind base;
@tailwind utilities;
@tailwind components;

*{
    box-sizing: border-box;
}



body::-webkit-scrollbar{
width: 9px !important;
}

body::-webkit-scrollbar-thumb{
    background-color: #141313;
}


.login{
    background: linear-gradient(45deg,rgba(0, 0, 0, 0.481) ,transparent) ,  url(./images/lib.jpeg);
}


.signup{
    background: linear-gradient(45deg,rgba(0, 0, 0, 0.481) ,transparent) ,  url(./images/lib.jpeg);
    background-repeat: no-repeat;
}

.bg{
    background-color: #31322c;
}

.t{
    top: 20%;
}

.active{
  background: #141313de ;
  padding-top: 3px ;
  padding-bottom: 3px;
  border-radius: .4rem;

}